@using System.Text.Json
@model List<JimmyModel>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>

@{
  var jsonModel = Html.Raw(JsonSerializer.Serialize(Model));
}

<h1>Jimmies</h1>

<canvas id="myChart"></canvas>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Birth Date</th>
        <th>Brain Cells</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.BirthDate.ToShortDateString()</td>
            <td>@item.BrainCells</td>
        </tr>
    }
    </tbody>
</table>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: @(jsonModel).map(j => j.BirthDate.split('T')[0]),
      datasets: [{
        label: 'Brain Cells',
        data: @(jsonModel).map(j => j.BrainCells),
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>